<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class=""><a href="/home">Quiz App</a></h1>
    <section>
        <h1>Create a new Quiz</h1>
        <form action="/api/createPost" method="POST">
            <label for="title">Quiz Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="question">Question:</label>
            <textarea id="question" name="question" required></textarea>
            <fieldset>
                <legend>Options:</legend>
                <label>
                    <input type="radio" name="answer" value="answer1" required>
                    <textarea name="answer1" placeholder="Option 1" required></textarea>
                </label>
                <label>
                    <input type="radio" name="answer" value="answer2" required>
                    <textarea name="answer2" placeholder="Option 2" required></textarea>
                </label>
                <label>
                    <input type="radio" name="answer" value="answer3" required>
                    <textarea name="answer3" placeholder="Option 3" required></textarea>
                </label>
            </fieldset>
            <button type="submit">Create Quiz</button>
        </form>
    </section>    
</body>
</html>