<%- include('partials/header') -%>

<h1 class="home__page__h1">Welcome to the quiz application website of your choice</h1>
<a href="/logout" class="logout" >Logout</a>

    <div>
        <button>
            <a href="./createQ">Create Quiz</a>
        </button>
        <button>
            <a href="/takeQ">Take Quiz</a>
        </button>
    </div>


<%- include('partials/footer') -%>

<!-- class="col-3 btn btn-primary" -->






